<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Favorite food</mat-label>
      <input matInput name="title" ngModel />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Start typing...</mat-label>
      <textarea
        matInput
        name="postText"
        rows="6"
        placeholder="Ex. It makes me feel..."
        name="content"
        ngModel
        #postInput
      ></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button>Post</button>
  </form>
</mat-card>
