<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddOrSavePost()" *ngIf="!isLoading">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Title" />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a valid post title.</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Start typing...</mat-label>
      <textarea
        matInput
        formControlName="content"
        rows="4"
        placeholder="Ex. It makes me feel..."
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Empty post? Seriously?</mat-error
      >
    </mat-form-field>
    <div class="btn-container">
      <button type="button" mat-raised-button (click)="fileUploader.click()">
        Image upload
      </button>
      <input type="file" #fileUploader />
      <button type="submit" mat-raised-button>
        <span *ngIf="isCreateMode">Post</span>
        <span *ngIf="isEditMode">Save</span>
      </button>
    </div>
  </form>
</mat-card>
