<mat-card>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Favorite food</mat-label>
    <input matInput [(ngModel)]="enteredTitle" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Start typing...</mat-label>
    <textarea
      matInput
      name="postText"
      rows="6"
      placeholder="Ex. It makes me feel..."
      [(ngModel)]="enteredContent"
      #postInput
    ></textarea>
  </mat-form-field>
  <button (click)="onAddPost()" mat-raised-button>Post</button>
</mat-card>
