mat-card{
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}
mat-spinner{
    margin: auto;
}
mat-form-field{
    width: 100%;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
input[type="file"]{
    visibility: hidden;
}
.image-upload-container{
    background-color: tomato;
}
button{
    width: 200px;
    align-self: flex-end;
}